body{
    margin: 0px;
    padding: 0px;
    background-image: url("/img/background-1462755.jpg");
    background-size: cover;
}

/************* HOME *****************************/

.main_container{
    width: 85vw;
    height: auto;
    margin: 20px auto;
    min-height: 100vh; 
    padding: 20px;
    background-image: url("/img/earth-3866609.jpg");
    background-repeat: repeat;
    border-radius: 10px;
}
header{
    min-height: 100vh;
}
.nav{
    text-align: center;
    padding: 0px;
    margin: 0px;
}
nav >ul >li{
    list-style: none;
    display: inline-block;
}
nav > ul > li >a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 5px 20px;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav > ul > li >a:hover{
    font-variant: small-caps;
    font-weight: 900;
    border-bottom: 2px yellowgreen solid;
    color: red;
}
.home_box{
    width: 50vw;
    background-color: rgba(8, 2, 8, 0.733);
    margin:auto;
    color: white;
    margin: 111px auto;
    padding: 15px;
    border: chartreuse 1px solid;
    border-radius: 20px;
}
.photo{
    text-align: center;
}
.photo > img{
    width: 175px;
    border-radius: 105px;
}
.photo > h1{
    display: inline-block;
    font-family: monospace, Georgia, 'Times New Roman', Times, serif;
}

.s_icon{
    text-align: center;
}
/* Style all font awesome icons */
.fa {
    padding: 5px 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  
  /* Add a hover effect if you want */
.fa:hover {
    font-size: 21px;
  }

  main h2{
      color: rgb(255, 38, 0);
      font-family: georgia Courier, monospace, 'Times New Roman', Times, serif;
      text-transform: uppercase;
  }

  #projects, #skills, .contact_me, .about_me {
      min-height: 100vh;
      padding: 30px;
  }

  /********************** PROJECTS ******************************/

  .projects{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }
  .p_box{
      width: 300px;
      margin: 20px;
      padding: 5px;
      border-radius: 7px;
      position: relative;
      text-align: center;
  }
  .p_box > a>img{
      height: 200px;
      overflow: hidden;
      border-radius: 9px;
  }
  .p_box > a>img:hover{
      /* height:195px; */
      /* width: 295px; */
      /* content-visibility: 80%; */
      opacity: 70%;
      border: gold 1px solid;
  }
  
  #p1_desc, #p2_desc, #p3_desc, #p4_desc, #p5_desc, #p6_desc{
      font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
      position: absolute;
      color: rgb(255, 255, 255);
      font-weight: 500;
      font-size: 18.5px;
      left: 5%;
      right: 5%;
      bottom: 5%;
      visibility: hidden;
  }
  /* .p_box:hover #p1_desc, .p_box:hover #p2_desc, .p_box:hover #p3_desc, .p_box:hover #p4_desc, .p_box:hover #p5_desc, .p_box:hover #p6_desc{
      visibility: visible;
  } */

  /*********************** SKILLS ********************************/

  .skills{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    margin: auto;
  }
  .s_box{
      height: 100px;
      width: 100px;
      margin: 20px;
      padding: 10px;
      flex: 20%;
      text-align: center;
  }
  .s_box > img {
      height: 100px;
  }

  .s_box > img:hover{
    height: 110px;
}

  /*********************** ABOUT ME *******************************/

.about>p{
    width: 90%;
    margin: 20px;
    font-size: 17px;
    color: white;
    font-family: Georgia, monospace;
    text-align: center;
}
.about > .hello{
    font-size: 21px;
}
.about{
    margin: 130px 0px;
}

  /*********************** CONTACT ********************************/
.contact{
    margin: 10px;
    padding: 10px;
    color: greenyellow;
}
  input[type=text], input[type=email], textarea {
      background-color: rgba(223, 94, 94, 0.616);
      width: 100%;
      font-size: 16px;
      padding: 10px;
      border: 1px solid rgb(45, 207, 13);
      border-radius: 5px;
      box-sizing: border-box;
      margin-top: 10px;
      margin-bottom: 20px;
      resize: vertical;
  }
  input[type=submit]{
      background-color: rgb(177, 8, 255);
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  input[type=submit]:hover{
      background-color: red;
      font-weight: bold;
  }

  /******************************** FOOTER ***********************/

.footer{
    height:75px;
    padding: 25px;
    text-align: center;
}
.footer>p{
    color: red;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
}
.footer >p >a{
    text-decoration: none;
    font-weight: bold;
    color: red;
}